{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Tic-Tac-Toe</h1>
                {% if player_first == true %}
                    <p>You play first, you use the <b>X</b> Marker, Good Luck!</p>
                {% else %}
                    <p>I play first, you use the <b>O</b> Marker, Good Luck!</p>
                {% endif %}
            </div>

            <div id="gameBoard">
                <table >
                    {% set row_position = 0 %}
                    {% for row in board %}
                        <tr>
                            {% set column_position = 0 %}
                            {% for position in row %}
                                <td class="tabledata y{{ row_position }} x{{ column_position }}" >
                                    {% if position == 'O' %}
                                        [O]
                                    {% elseif position == 'X' %}
                                        [X]
                                    {% else %}
                                        <a class="position y{{ row_position }} x{{ column_position }}" href="#">[_]</a>
                                    {% endif %}
                                </td>
                                {% set column_position = column_position + 1 %}
                            {% endfor %}
                        </tr>
                        {% set row_position = row_position + 1 %}
                    {% endfor %}
                </table>
            </div>

            <div id="game_message" >
                <br><br>
                <h1>Game Over!</h1>

                <p>The winner is: <b id="the_winner_is">winner_key</b> <spam id="bot_say" ></spam></p>

                <a href="{{ path('board', { 'continue' : 0 }) }}">Play Again?</a>
            </div>


        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #game_message {display: none}
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var ypos;
        var xpos;
        $( ".position" ).click(function() {
            var elementClasses = $(this).attr('class').split(/\s+/);
            $.each(elementClasses, function(index, item) {
                if (item !== 'position') {
                    if (item.substr(0,1) === 'y') {
                        ypos = item.substr(1);
                    }
                    if (item.substr(0,1) === 'x') {
                        xpos = item.substr(1);
                    }
                }
            });

            $.ajax({
                type: "POST",
                url: "{{ path('play') }}",
                data: {
                    'xposition' : xpos,
                    'yposition' : ypos
                },
                success: (function (data, status) {

                    console.log(data);

                    if (data.move === 'valid')
                    {
                        $(".tabledata.x"+xpos+".y"+ypos).html("[{{ player }}]");
                        $(".tabledata.x"+data.bot_position_x+".y"+data.bot_position_y).html("[{{ bot }}]");
                    }

                    if (data.game == 'over')
                    {
                        if (data.winner == "{{ player }}")
                        {
                            $("#the_winner_is").html("You!");
                            $("#bot_say").html(" You... you cheater!! Probably using hacks to confuse me >:[");
                        }
                        else if (data.winner == "{{ bot }}")
                        {
                            $("#the_winner_is").html("ME!");
                            $("#bot_say").html(" I knew that you were no match for me...");
                        }
                        else
                        {
                            $("#the_winner_is").html("hmm well no one...");
                            $("#bot_say").html(" We draw... :[");
                        }
                        $("#game_message").css("display", "block");
                    }
                }),
                dataType: 'json'
            });
        });

    </script>
{% endblock %}